.main-view {
  display: block;
  padding: 1em;
}

.main-view h4 {
  font-weight: bold;
  color: limegreen;
}

.main-view h2 {
  margin-top: 0;
  font-weight: bold;
  color: limegreen;
}

html {

}

p {
  margin-bottom: 0;
}

#topVertical {
  padding-bottom: 0;
}

#leftVertical {
  /*border: 1px solid #7e3ff2;*/
  border: 1px solid red;
}

#rightVertical {
  /*border: 1px solid #7e3ff2;*/
  border: 1px solid red;
}

#leftResultLayout {
  border: 1px solid #7e3ff2;
  height: 100%;
}

#rightResultLayout {
  border: 1px solid #7e3ff2;
  height: 100%;
}

#date-piker {
  width: 17rem;
}
